<div class = "container" >
  <div class = "calculator">
    

    <table>
      <tr>
        <td id="calcul" colspan="4"> 0 </td>
      </tr>
        <tr>
           <td onclick="test('7')">7</td>
           <td onclick="test('8')">8</td>
           <td onclick="test('9')">9</td>
           <td onclick="test('x')">x</td>
       </tr>
      <tr>
           <td onclick="test('4')">4</td>
           <td onclick="test('5')">5</td>
           <td onclick="test('6')">6</td>
           <td onclick="test('-')">-</td>
       </tr>

       <tr>
           <td onclick="test('1')">1</td>
           <td onclick="test('2')">2</td>
           <td onclick="test('3')">3</td>
           <td onclick="test('+')">+</td>
       </tr>

      <tr>
           <td onclick="test('0')">0</td>
           <td onclick="test('.')">.</td>
           <td onclick="test('=')">=</td>
           <td onclick="test('/')">/</td>
       </tr>
       <tr>
           <td class="clear" colspan="4" onclick="test('clear')">clear</td>
       </tr>
    </table>

    <p id="result"> </p>
  </div>
</div>
