html {
    height: 100%;
}

* {
  padding: 0px;
}

body {
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	background: asset-data-url('background.jpg');
	background-size: cover;
	color: white;
	font-size: 20px;
}

table {
	border-spacing: 1px;
}

td {
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	padding:0px;
	border-width: 0px;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
}

.calculator {
	height: 60%;
	margin: auto;
}

#calcul {
	padding-right: 22px;
	text-align: right;
}